<div class="full-co">
    <div class="foot-co">
        <div class="chat-co">
            <button title="Ai support" onclick="chat();" id="aibutton" style="background-color: #ff2b4b;">
                <box-icon name='message-square-dots' color="#0f0f0f"></box-icon>
            </button>
        </div>
    </div>
</div>