{{>search}}
{{#if images}}
<section id="searchresultsarea">
    <div class="container-fluid">
        <div class="d-flex flex-row flex-wrap justify-content-center">
            {{#each images}}
            <div class="d-flex flex-column">
                <a href="{{this}}">
                    <img src="{{this}}" class="img-fluid">
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{else}}
<div class="container" id="searchresultsarea">
    <div class="notfound">
        <span class="text">No results <span class="green-text">found</span>!</span>
    </div>
</div>
{{/if}}