{{>search}}
{{#if images}}
<div class="containerr">
    {{#each images}}
    <div class="card" onclick="location.href = {{this}};">
        <div class="imgContainer">
            <img src="{{this}}" alt="Image" onerror="this.onerror=null;this.src='path/to/default-image.jpg';" />
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<div class="container" style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100vh;">
    <div class="notfound">
        <span class="text">No results <span class="green-text">found</span>!</span>
    </div>
</div>
{{/if}}
